/* Geral */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  color: #ffffff;
}

/* Container de login */
.login-container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 300px;
  text-align: center;
}

.login-container h1 {
  margin-bottom: 20px;
}

.login-container label {
  display: block;
  margin: 10px 0 5px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #6200ea;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container button:hover {
  background-color: #3700b3;
}

#errorMessage {
  margin-top: 10px;
  color: #ff5252;
}

.hidden {
  display: none;
}
